#tabs { display: none; }
#tab-control .pages#pages { background: inherit; border: 1px solid red; padding: 10px 10px 0; width: auto; }

.page-part { margin-bottom: 1em; }
.page-part LABEL { display: block; }
.page-part INPUT.text { display: block; width: 300px; }
.page-part .page-part-description { font-size: .8em; margin-bottom: 0.25em; }
.page-part TEXTAREA { display: block; width: 99%; }
