#content .form-area P.title { margin-bottom: 1em; }

#content .form-area .row { margin-top: .25em; }

#page-metadata { margin: 0 0 1em; }
#page-revisions { margin: 0 0 1em; position: relative; }
#page-parts { padding: 10px 0 0 0; }

#page-metadata H4,
#page-revisions H4,
#page-parts H4 { margin: 0 0 .5em; }

#page-revisions H4 SMALL { position: absolute; right: 0; top: .5em; }

#content #page-parts .page-part { margin-bottom: 1em; margin-left: 20px; }
#content #page-parts .page-part .page-part-name LABEL { display: block; font-weight: bold !important; font-size: 95%; }
#content #page-parts .page-part .page-part-description { font-size: .8em; margin-bottom: 0.25em; }
#content #page-parts .page-part INPUT.text { display: block; width: 300px; }
#content #page-parts .page-part TEXTAREA { display: block; width: 99%; }
