= text_field_tag "page[parts_attributes][#{page_part_counter}][content]", h(page_part.content), :class => "textbox string-page-part", :maxlength => 255, :id => "part_#{page_part.name.to_slug}_content"